.JobBoard-container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: black solid 1px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.26);
}

.JobBoard-container h4 {
    margin: 0px;
}

.JobBoard-menu {
    margin: 0px;
    width: 25%;
    background-color: rgb(123, 191, 255);
    border-right: black solid 1px;
    border-radius: 5px 0px 0px 5px;
}

.JobBoard-display {
    margin: 0px;
    width: 75%;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(255, 255, 255);
}

.show {
    visibility: visible;
}

.list {
    padding: 0px;
    list-style: none;
}

.cardList {
    width: 33.32%;
    display: inline-flex;
    margin-bottom: 5px;
}

.card {
    width: 100%;
    margin: 10px;
    font-size: calc(2px + 2vmin) !important;
}

div.scroll { 
    height: 100%; 
    overflow: auto; 
    text-align:justify; 
} 

@media only screen and (max-width: 1500px) {
    .cardList {
        width: 50%;
        display: inline-flex;
    }
}

@media only screen and (max-width: 1000px) {
    .cardList {
        width: 97%;
        display: list-item;
    }
}

@media only screen and (max-width: 700px) {
    .cardList {
        width: 95%;
        display: list-item;
    }
}